<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastrar Local - Campus UEL</title>
    <link rel="icon"
          th:href="@{'data:image/svg+xml;charset=utf-8,<svg xmlns=&quot;http://www.w3.org/2000/svg&quot; width=&quot;17&quot; height=&quot;18&quot;><text y=&quot;15&quot; font-size=&quot;14&quot;>💚</text></svg>'}">
    <link rel="stylesheet" th:href="@{/geral/style.css}">

</head>
<body>

<nav>
    <div class="logo">
        <h1>Campus UEL</h1>
    </div>
    <ul class="nav-links">
        <li><a th:href="@{/}">Tela inicial</a></li>
        <li><a th:href="@{/usuarios}">Usuários</a></li>
        <li><a th:href="@{/locais}">Locais</a></li>
        <li><a th:href="@{/questoes}">Questões</a></li>
    </ul>
</nav>

<section class="hero">
    <h2>Cadastrar/Editar Local</h2>
    <p>Preencha os campos abaixo para cadastrar ou editar um local.</p>
</section>

<section class="locais-form">
    <form th:action="${local.idLocal} != null ? @{'/locais/editar/' + ${local.idLocal}} : @{/locais/salvar}"
          th:object="${local}"
          method="post">

        <label for="nome">Nome do Local:</label>
        <input type="text" id="nome" th:field="*{nome}" required>

        <label for="localizacao">Localização:</label>
        <input type="text" id="localizacao" th:field="*{localizacao}" required>

        <label for="descricao">Descrição:</label>
        <textarea id="descricao" th:field="*{descricao}" required></textarea>

        <label for="urlImage">URL da Imagem:</label>
        <input type="text" id="urlImage" th:field="*{urlImage}">

        <div style="display:flex; justify-content:space-between; margin-top:2rem;">
            <a href="/locais" class="btn">Voltar</a>
            <button type="submit" class="btn">Salvar Local</button>
        </div>
    </form>

</section>

<footer>
    <p>&copy; 2025 UEL - Todos os direitos reservados.</p>
</footer>

</body>
</html>
